* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	background-color: #2C2C29;
	height: 0px;
	
}

h1 {
	color: floralwhite;
	transform: translateY(50%);
	font-family: Impact, Charcoal, sans-serif;

}

.randomRecipe {
	color: floralwhite;
	transform: translateY(100%);
	font-size: 21px;
    font-family: Impact, Charcoal, sans-serif;

}

#myImg {
	transform: translateY(10%);
}

#instructions {
	color: floralwhite;
	position: relative;
	top: 10px;

}

#listIngredients {
	color: floralwhite;
}

.setVideo {
	color: floralwhite;

}

h5 {
	color: floralwhite;
}

.setRecipe {
	transform: translateY(-200px);
}

